@font-face {
    font-family: 'Neo Sans Pro';
    src: url('../fonts/NeoSansPro-Ultra.eot');
    src: url('../fonts/NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeoSansPro-Ultra.woff') format('woff'),
        url('../fonts/NeoSansPro-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: local('Neo Sans Pro Regular'), local('Neo-Sans-Pro-Regular'),
        url('../fonts/NeoSansProCyr-Regular.woff2') format('woff2'),
        url('../fonts/NeoSansProCyr-Regular.woff') format('woff'),
        url('../fonts/NeoSansProCyr-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}