.vanishInLogo {
    animation: vanishInLogo 0.8s forwards;
}
.slideLeftReturn {
    animation: slideLeftReturn 1s forwards;
}
.spaceInDown {
    animation: spaceInDown 1s forwards;
}
.vanishIn {
    animation: vanishIn 0.8s forwards;
}
.opacityAnim {
    animation: opacityAnim 0.8s forwards;
}



