footer{
    margin: 0;
    padding: 0;
    background: #070A1B;
    height: 300px;
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
        &:hover{
            color: #F402A2;
        }
    }
    .header__logo{
        transform: translateX(-10%);
    }
}