#video {
    margin-top: 150px;
    text-align: center;

    .video__wrapper{
        position: relative;
        height: 650px;
    }
    .video__poster{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;

        img{
            height: 100%;
            width: 100%;
        }
    }

    #video_source{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video__btn_play {
        margin-top: 25px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}