#carousel {
    padding-top: 105px;
    padding-bottom: 108px;

    .carousel__slider {
        margin: 0 auto;
        max-width: 950px;
        position: relative;
        z-index: 1;
    }
    .slick-dots{
        display: none;
    }
    .slick-track{
        display: flex;
        align-items: center;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        font-size: 0;
        border: none;
        width: 30px;
        height: 50px;
        z-index: 2;
        padding: 10px;
        border-radius: 6px;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-prev {
        left: 0;
        transform: translateX(-100%);
        background: url("../img/carousel/arrow_left.png") center center/100% no-repeat;
        background-color: transparent;
        &:hover{
            background-color: rgb(240, 240, 240);
            filter: saturate(1.2);
        }
    }

    .slick-next {
        right: 0;
        transform: translateX(100%);
        background: url("../img/carousel/arrow_right.png") center center/100% no-repeat;
        background-color: transparent;
        &:hover{
            background-color: rgb(240, 240, 240);
            filter: saturate(1.2);
        }
    }
}