@media (max-width: 576px) {

    // PROMO
    #promo {
        .promo__header {
            flex-direction: column;
            align-items: center;
        }

        .promo__partners {
            margin-top: 20px;
        }

        .promo__call_wrapper {
            margin-top: 15px;

            .promo__call_phone {
                font-size: 20px;
            }

            .promo__call_btn {
                display: none;
            }
        }

        .promo__content_wrapper {
            text-align: center;
            display: flex;
            align-items: center;

            .promo__title {
                font-size: 36px;
                text-align: center;
            }

            .promo__subtitle {
                font-size: 20px;
                text-align: center;
            }
        }

        .promo__content_wrapper .promo__icons_wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .promo__content_wrapper .promo__icons_wrapper .promo__icon_wrapper:nth-of-type(1) {
            margin: 0;
        }

        .promo__content_wrapper .promo__icons_wrapper .promo__icon_wrapper:nth-of-type(2) {
            margin: 0;
        }

        .promo__content_wrapper .promo__icons_wrapper .promo__icon_wrapper:nth-of-type(3) {
            margin: 0;
        }

        .promo__content_wrapper .promo__icons_wrapper .promo__icon_wrapper .promo__icon_text {
            font-size: 12px;
            min-width: 0;
        }

        .promo__content_wrapper .promo__go_catalog {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            text-align: center;
        }

        .promo__order_btn {
            text-align: center;
        }
    }

    // BENEFITS
    #benefits {
        .benefits__container {
            min-width: 0;
        }

        .benefits__title {
            font-size: 24px;
        }

        .benefits__item_wrapper {
            display: none;
        }

        .benefits__slider {
            margin-top: 40px;
            display: block;
            position: relative;

            .slick-track {
                display: flex;
            }
        }

        .slick-list {
            overflow: hidden;
        }

        .slick-arrow {
            position: absolute;
            bottom: -30px;
            width: 100px;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .slick-dots {
            position: absolute;
            bottom: -50px;
            display: flex;
            width: 80px;
            justify-content: space-between;
            left: 50%;
            padding: 0;
            margin: 0;
            transform: translate(-50%);

            button {
                display: none;
            }
        }

        .slick-dots li {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 1px solid rgb(63, 63, 63);
        }

        li.slick-active {
            background-color: rgb(63, 63, 63);
        }

        .slick-dots li::marker {
            font-size: 0px;
        }

        .benefits__item_text_mob {
            margin: 0 auto;
            text-align: justify;
            text-align: center;
            width: 260px;
            font-family: "Museo Sans Cyrl -300";
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            margin-top: 15px;
        }

        .benefits__item_title_mob {
            font-size: 24px;
        }
    }

    // CONSULTATION
    #consultation {
        padding-top: 50px;

        .consultation__title {
            font-size: 22px;
            text-align: center;

            br {
                display: none;
            }
        }

        .consultation__subtitle {
            margin-top: 40px;
            font-size: 14px;
            text-align: center;
        }

        .consultation__form {
            margin: 0 auto;
        }
    }

    // CAROUSEL
    #carousel {
        padding-top: 30px;
        padding-bottom: 40px;

        img {
            width: 290px;
        }

        .slick-dots {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 0 90px;
            margin: 0;
            margin-top: 30px;

            button {
                font-size: 0;
                border: none;
                display: none;
            }

            li {
                display: block;
                width: 15px;
                height: 15px;
                border: 1px solid rgb(63, 63, 63);
                border-radius: 100%;
                margin: 0 auto;
            }

            li.slick-active {
                background-color: rgb(63, 63, 63);
            }
        }
    }

    // CATALOG
    #catalog {
        padding-bottom: 50px;

        .catalog__title {
            margin-top: 30px;
        }

        .catalog__tabs_wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }

        .catalog__tab {
            margin-top: 10px;
            transform: skewX(0deg);

            &_text {
                transform: skewX(0deg);
            }
        }

        .mtt-4 {
            margin: 0;
        }

        .catalog__card:nth-child(odd) {
            margin-top: 20px;
        }

    }

    // REVIEWS
    #reviews {
        .reviews__client {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            padding-bottom: 20px;
        }

        .reviews__client_wrapper {
            margin: 0;
            max-width: 100%;
        }

        .reviews__client_maraphone_count {
            text-align: center;
        }

        .reviews__client_comment {
            text-align: justify;
            font-size: 14px;
            padding: 0 15px;
        }

        .reviews__client_name {
            display: block;
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
        }

        .reviews__title {
            font-size: 24px;
        }

        .reviews__client_photo {
            position: relative;
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));

            img {
                position: relative;
                z-index: 2;
                width: 123px;
                height: 123px;
            }

            &:after {
                display: none;
            }

        }
    }

    #footer {
        .footer__info {
            position: relative;
            width: 100%;
            height: 270px;

            top: 0;
            left: 0;
            transform: translateX(0%);
            background-color: #c70101;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer__icons_wrapper{
            width: 60%;
        }
        .footer__adress {
            font-size: 15px;
        }
    }
    .modal_order{
        position: fixed;
       .content_wrap{
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding-right: 0;
        background-position: -210px 0;
       }
       form{
           width: 100%;
           .form_name{
               margin-top: 50px;
           }
           .form_btn{
                margin-top: 60px;
            }
       }
    }
    .success_by_wrapper{
        .success_by{
            width: 80%;
            height: 50%;
            p{
                font-size: 18px;
            }
            a{
                font-size: 18px;
            }
        }
    }
}