#promo {
    background: url("../img/promo/promo_bg.jpg") center center/cover no-repeat;
    padding-top: 20px;
    padding-bottom: 90px;

    header {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        animation: 1s showFromRightText ease 200ms;
    }

    .promo__logo {
        width: 251px;
        height: 45px;
    }

    .promo__partners {
        text-align: center;

        .partner_text_1 {
            font-family: "Museo Sans Cyrl -500";
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
        }

        .partner_text_2 {
            a {
                color: inherit;
                text-decoration: none;
                font-family: "Museo Sans Cyrl -700";
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
            }
        }
    }

    .promo__call_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
        }

        .promo__call_btn {
            width: 150px;
            height: 30px;
            margin-top: 5px;
        }
    }

    .promo__content_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        animation: 1s showFromTopText ease 200ms;

        .promo__title {
            color: #ffffff;
            font-family: "Museo Sans Cyrl -700";
            font-size: 42px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: right;
            text-transform: uppercase;
            margin-top: 90px;
        }

        .promo__subtitle {
            color: #ffffff;
            font-family: "Museo Sans Cyrl -500";
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: right;
            text-transform: uppercase;
            margin-top: 10px;
        }

        .promo__icons_wrapper {
            display: flex;
            margin-top: 65px;

            .promo__icon_wrapper {
                text-align: center;

                &:nth-of-type(1) {
                    margin-right: 70px;
                }

                &:nth-of-type(2) {
                    margin-right: 70px;
                }

                &:nth-of-type(3) {
                    margin-right: 20px;
                }

                .promo__icon_text {
                    min-width: 106px;
                    margin-top: 15px;
                    color: #ffffff;
                    font-family: "Museo Sans Cyrl -500";
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: center;
                }
            }
        }

        .promo__order_btn {
            width: 300px;
            height: 50px;
            color: #ffffff;
            font-family: "Museo Sans Cyrl -500";
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
            margin-top: 65px;
            animation: 1s orderBtn ease-in-out 500ms 2 alternate;
        }

        .promo__go_catalog {
            margin-top: 18px;
            color: #ffffff;
            font-family: "Museo Sans Cyrl -500";
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: right;
            a {
                text-decoration: none;
                color: inherit;
            }

            span {
                text-transform: uppercase;
                text-decoration: underline;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}