@media (max-width: 1920px) and (min-width: 1441px) {

    // ================================
    // HOME
    #home {

        // PROMO
        .promo__slider {
            height: 800px;

            .promo__slider_item {
                height: 800px;
            }

            .promo__slider_item_1 {
                background: url("../img/home/promo_slider/1.png") 0 0/cover no-repeat;
            }
        }

        .promo__slider .promo__slider_item .promo__text_wrap {
            margin-left: 915px;
        }

        //  COLLECTION
        #collection {
            padding-bottom: 130px;

            .collection__photos_wrapper {
                display: flex;
                justify-content: center;
                gap: 50px;
            }
        }

        // SCHEME
        #scheme {
            padding: 100px 0;
        }
    }

    // ================================
    #about {

        // PARTNERS
        #partners {
            .partners__wrapper {
                justify-content: center;
                margin-top: 30px;
            }
        }
    }
    // ================================
    #gallery{
        .gallery__content_1{

            .img_wrap:nth-child(1){
                img{
                    width: 100%;
                }
            }
        }
        .gallery__content_2{
            .img_wrap:nth-child(3){
                img{
                    width: 100%;
                }
            }
        }
    }
}


