@font-face {
    font-family: "Museo Sans Cyrl -300";
    src: url("../fonts/museosanscyrl-300.ttf");
}
@font-face {
    font-family: "Museo Sans Cyrl -500";
    src: url("../fonts/museosanscyrl-500.ttf");
}
@font-face {
    font-family: "Museo Sans Cyrl -700";
    src: url("../fonts/museosanscyrl-700.ttf");
}