#contacts {
    margin-top: 100px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .contacts__info_block {
        padding-top: 50px;
    }

    .contacts__info_wrap:nth-child(2) {
        margin-top: 50px;
    }

    .contacts__info_wrap {
        margin-bottom: 20px;
    }

    .contacts__info_title {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: $violet-light;
    }

    .contacts__info_text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: $black;

        a {
            text-decoration: none;
            color: $black;
        }
    }

    .contacts__form {
        background-color: $violet-dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 75px;

        .title_section {
            color: #fff;
            margin-left: -80px;

            &::after {
                background-color: #fff;
            }
        }

        input,
        button {
            width: 450px;
            height: 75px;
        }

        input {
            text-align: center;
            margin-bottom: 10px;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            background: none;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 0px;
            outline: none;
        }

        input::-webkit-input-placeholder {
            color: #fff;
        }

        button {
            margin-top: 80px;
        }
    }

    .contacts__form_name {
        margin-top: 20px;
    }

}