#blog {
    padding-top: 60px;

    .wrapper {
        display: flex;
        justify-content: space-between;

        .blog__date_publication {
            font-family: 'Open Sans Regular';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: #707070;
            margin-top: 20px;
        }

        .blog__article {
            margin-top: 15px;

            .blog__title {
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 38px;
                color: #363838;
            }

            .blog__article_text {
                margin-top: 15px;
                font-family: 'Open Sans Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                color: #5A5A5A;
            }
        }



        // PAGE 1
        .page_1 {
            max-width: 730px;
            .blog__title:nth-child(6){
                opacity: 0;
            }
            .blog__image{
                opacity: 0;
            }
            .blog__citation {
                margin-top: 120px;
                height: 250px;
                width: 100%;
                background-color: rgba(223, 223, 223, 0.5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;

                .citation {
                    font-family: 'Open Sans Light Italic';
                    font-style: italic;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 38px;
                    text-align: center;
                    color: #363838;

                    &:after {
                        content: "";
                        display: block;
                        width: 200px;
                        height: 1px;
                        background-color: #979797;
                        margin: 0 auto;
                        margin-top: 20px;
                    }
                }

                .autor {
                    margin-top: 20px;
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: rgba(54, 56, 56, 0.9033);
                }

            }

            .blog__video {
                margin-top: 50px;
                position: relative;

                .blog__video_poster {
                    position: relative;
                }

                .blog__video_source {
                    display: none;
                    position: relative;
                    top: 0px;
                }
            }

            .blog__title {
                font-family: 'Montserrat Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: #363838;
                margin-top: 15px;
            }

            .blog__slider {
                margin-top: 50px;
                width: 100%;
                overflow-x: hidden;
                position: relative;

                .slick-track {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .slick-slide {
                    height: 415px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .slick-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 5;
                    background: none;
                    border: none;
                    width: 15px;
                    height: 23px;
                    font-size: 0;
                }

                .slick-prev {
                    left: 15px;
                    background: url("../img/blog/page_1/slider/left-arrow.png") center center/100% no-repeat;
                }

                .slick-next {
                    right: 15px;
                    background: url("../img/blog/page_1/slider/right-arrow.png") center center/100% no-repeat;
                }
            }
        }

        // PAGE 2
        .page_2 {
            display: none;
            max-width: 730px;
            .blog__image{
                img{
                    width: 100%;
                }
            }
            .blog__citation {
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;
                opacity: 0;

                .citation {
                    font-family: 'Open Sans Light Italic';
                    font-style: italic;
                    max-width: 645px;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 38px;
                    color: #363838;

                    &:after {
                        content: "";
                        display: block;
                        width: 200px;
                        height: 1px;
                        background-color: #979797;
                        margin-top: 20px;
                    }
                }

                .autor {
                    display: block;
                    width: 645px;
                    margin-top: 20px;
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: rgba(54, 56, 56, 0.9033);
                }
            }

            .blog__tags {

                .tags__title {
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: #363838;
                    margin-top: 40px;

                }

                .tags__wrapper {
                    margin-top: 15px;
                }

                .tag {
                    display: inline-block;
                    border: 1px solid #8F8D8D;
                    border-radius: 15px;
                    padding: 1px 16px;
                    margin-right: 5px;

                    font-family: 'Open Sans Regular';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                    color: #8F8D8D;
                    text-align: center;
                }
            }

            .blog__comments_slider {
                border-top: 1px solid #DFDFDF;
                border-bottom: 1px solid #DFDFDF;
                height: 130px;
                display: flex;
                align-items: center;
                min-width: 0;
                margin-top: 40px;

                .slider_comment {
                    min-width: 0;
                    position: relative;
                }

                .slick-list {
                    overflow-x: hidden;
                }

                .slick-track {
                    display: flex;
                }

                .slick-slide {
                    text-align: center;
                }

                .slick-arrow {
                    position: absolute;
                    top: 0;
                    z-index: 5;
                    background: none;
                    border: none;
                    font-size: 0;
                    width: 15px;
                    height: 25px;

                }

                .slick-next {
                    right: 0;
                    background: url("../img/blog/page_2/right-arrow.png") center center/100% no-repeat;
                }

                .slick-prev {
                    background: url("../img/blog/page_2/left-arrow.png") center center/100% no-repeat;
                }

                .slider_comment__item {
                    display: flex;
                    justify-content: space-around;
                    font-family: 'Open Sans Regular';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 28px;
                    color: #707070;
                }

                .right_text {
                    text-align: right;
                }

                .left_text {
                    text-align: left;
                }
            }

            .comments {
                margin-top: 40px;

                .comments__title {
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 31px;
                    color: #363838;
                }

                .comment {
                    display: flex;
                    margin-top: 25px;
                }

                .comment__wrap_text {
                    margin-left: 15px;
                }

                .user_name {
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: #363838;
                }

                .date_comment {
                    font-family: 'Open Sans Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #A1A1A1;
                }

                .comment_text {
                    font-family: 'Open Sans Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #5A5A5A;
                    margin-top: 15px;
                }

                .comment__reply {
                    font-family: 'Open Sans Semibold';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    color: #707070;
                    cursor: pointer;
                    max-height: 30px;
                }
            }

            .add_comment {
                margin-top: 50px;

                .add_comment__title {
                    font-family: 'Montserrat Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: #363838;
                }

                .new_comment {

                    .form_textarea,
                    .input_name,
                    .input_email {
                        font-family: 'Open Sans Regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: #A1A1A1;
                        padding: 15px;
                        border: 1px solid #DFDFDF;
                        border-radius: 20px;
                    }

                    .input_name,
                    .input_email {
                        width: 360px;
                        height: 40px;
                    }

                    .input_email {
                        width: 50%;
                    }

                    .label_wrap {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        height: 21px;
                    }

                    #remember {
                        width: 21px;
                        height: 21px;
                        border-color: #A1A1A1;
                    }

                    label {
                        font-family: 'Open Sans Regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #A1A1A1;
                        margin-left: 10px;
                    }

                }
            }
        }

        // SIDEBAR
        .blog__sidebar {
            max-width: 350px;

            .blog__sidebar_search_wrap {
                display: flex;
                position: relative;

                i {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }

            .blog__sidebar_search {
                background: none;
                border: 1px solid #363838;
                width: 100%;
                height: 40px;
                padding: 10px 20px;
                border-radius: 20px;
            }

            .blog__sidebar_categories {
                display: flex;
                flex-direction: column;
                margin-top: 45px;

                a {
                    margin-top: 15px;
                    text-decoration: none;
                    color: #5A5A5A;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .blog__sidebar_posts {
                margin-top: 45px;

                .blog__sidebar_posts_text {
                    margin-top: 25px;
                    font-family: 'Open Sans Regular';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27px;
                    color: #5A5A5A;
                }

                .blog__sidebar_posts_date {
                    font-family: 'Open Sans Regular';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                    color: #A1A1A1;
                }
            }

            .blog__sidebar_tags {
                margin-top: 50px;

                b {
                    display: block;
                    margin-bottom: 25px;
                }

                .tag__blog__sidebar_tag {
                    display: inline-block;
                    border: 1px solid #8F8D8D;
                    border-radius: 15px;
                    padding: 1px 16px;
                    margin-right: 5px;

                    font-family: 'Open Sans Regular';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                    color: #8F8D8D;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                        background-color: rgba($color: #FFEF35, $alpha: 0.5);
                        color: #363838;
                    }
                }

            }

            .blog__sidebar_social {
                margin-top: 50px;
                width: 140px;
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: #5A5A5A;

                    &:hover {
                        color: rgb(190, 150, 150);
                    }
                }
            }
        }
    }

    .blog__sidebar_tags .tag__blog__sidebar_tag:nth-child(5),
    .blog__sidebar_tags .tag__blog__sidebar_tag:nth-child(6) {
        margin-top: 10px;
    }

    .blog__page_pagination {
        margin-top: 50px;
        font-family: 'Open Sans Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        margin-left: 340px;

        a {
            color: #363838;
            text-decoration: none;
            margin-left: 12px;
        }

        a:nth-child(1) {
            margin-left: 0;
        }
        .blog__page_prev{
            display: none;
        }

        .active_page{
            width: 10px;
            height: 10px;
            border: 1px solid $black;
            padding: 0px 6px;
            border-radius: 5px;
        }
    }
}