.navigator_pages__contacts {
    background-color: rgba($color: #DFDFDF, $alpha: 0.5);
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateY(0);
    position: absolute;
}

#contacts {
    .contacts__map {
        height: 697px;
        width: 100%;
        background: url("../img/contacts/map.jpg") center center/cover;
    }

    .contacts__title {
        margin-top: 60px;
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: #363838;

        &::after {
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color: #6D7278;
            margin-top: 20px;
        }
    }

    .contacts__content_wrap {
        width: 825px;
        margin-left: auto;

        .contacts__social {
            width: 285px;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            a {
                color: #707070;
                &:hover {
                    color: rgb(190, 150, 150);
                  }
            }
        }

        .contacts__text {
            font-family: 'Open Sans Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #A1A1A1;
            margin-top: 20px;
        }

        .contacts__phone,
        .contacts__adres {
            font-family: 'Open Sans Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #5A5A5A;
            text-decoration: none;
        }

        .contacts__email {
            display: inline-block;
            margin-top: 20px;
            font-family: 'Open Sans Semibold';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #363838;
            text-decoration: none;
            span {
                display: inline-block;
                margin-left: 10px;
            }
        }
        .contacts__form {
            margin-top: 25px;
            .contacts__textarea {
                margin-top: 15px;
                width: 100%;
            }
            .contacts_input_wrap {
                display: flex;
                justify-content: space-between;
            }
            .form_submit_btn {
                margin-top: 5px;
            }
        }
    }

    .contacts__slider{
        position: relative;
        margin-top: 100px;
        .slick-track{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            background: none;
            border: none;
            font-size: 0;
            height: 30px;
            width: 30px;
            filter: opacity(35%);
            cursor: pointer;
        }
        .slick-next {
            right: 30px;
            background: url("../img/blog/page_1/slider/right-arrow.png") center center/100% no-repeat;
        }
        .slick-prev {
            left: 30px;
            background: url("../img/blog/page_1/slider/left-arrow.png") center center/100% no-repeat;
        }
        .contacts__slider_item_photo_wrap{
            display: inline-block;
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin: 0 15px;
            img{
                height: 100%;
            }
        }
    }
}